.nextIcon svg {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: var(--a-text-subtle);
}

.listContentSpan {
  width: 99%;
}

.utkastList {
  list-style: none;
  margin: 0;
  padding: 16px 16px 16px 0;
}

.utkastList li {
  background-color: var(--a-surface-default);
  padding: 16px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  max-width: 600px;
}

@media (max-width: 360px) {
  .utkastList li {
    word-break: break-all;
  }
}

.utkastList li a {
  text-decoration: none;
  color: var(--a-text-subtle);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 16px;
  padding-left: 16px;
  width: 100%;
}

.utkastList li a h2 {
  color: var(--a-text-default);
}

.utkastList li a p {
  /* top | right | bottom | left */
  margin: 4px auto 0 auto;
}

.editSvg {
  padding: 14px;
  gap: 10px;
  width: 52px;
  height: 52px;
  background: #e6f1f8;
  border-radius: 999px;
  margin-right: 16px;
}

.editSvg svg {
  width: 24px;
  height: 24px;
}
