.ingenUtkast {
  padding-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ingenUtkastTekst a {
  color: var(--a-text-subtle);
  font-size: 18px;
}

.ingenUtkastTekst {
  color: var(--a-text-default);
  font-size: 20px;
}
