.utkast {
  color: rgba(0, 0, 0, 0.56);
  padding: 16px;
}

.loadingDiv {
  margin-top: 30px;
  text-align: center;
}

.utkast h1 {
  color: rgba(38, 38, 38, 1);
  margin-bottom: 10px;
}

.utkast ul {
  list-style: none;
  padding: 0;
  margin: 29px 0 10px 0;
}

.utkast li {
  background-color: rgba(247, 247, 247, 1);
  /* top | right | bottom | left */
  padding: 16px 16px 0px 16px;
  margin-top: 10px;
  margin-left: 0;
  border-radius: 10px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
}

.utkast li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.56);
}

.utkast li a h2 {
  color: rgba(38, 38, 38, 1);
}

.utkast li a p {
  /* top | right | bottom | left */
  margin: 4px auto 0 auto;
}

.utkast p {
  margin-top: 10px;
}

.description {
  font-size: 20px;
  /*farge subtle fra designsystemet*/
}
