@import "@navikt/ds-tokens";

.utkast {
  color: var(--a-text-subtle);
  padding: 16px;
  max-width: 600px;
}

.loadingDiv {
  margin-top: 30px;
  text-align: center;
}

.utkast h1 {
  color: var(--a-text-default);
  margin-bottom: 10px;
}
