@import "@navikt/ds-tokens";

.utkast {
  color: var(--a-text-subtle);
  padding: 16px;
}

.loadingDiv {
  margin-top: 30px;
  text-align: center;
}

.utkast h1 {
  color: var(--a-text-default);
  margin-bottom: 10px;
}

.utkastContainer {
  padding: 0 16px 16px 16px;
  background-color: var(--a-surface-danger-subtle);
  min-height: 600px;
}
