@import "@navikt/ds-tokens";

.utkastWrapper {
  width: 100%;
  height: 100%;
}
.utkast {
  color: var(--a-text-subtle);
  padding: 16px 0;
  max-width: 632px !important;
}

.loadingDiv {
  margin-top: 30px;
  text-align: center;
}

.utkast h1 {
  color: var(--a-text-default);
  margin-bottom: 10px;
}

.container {
  padding: 0;
  min-height: 600px;
  max-width: 912px;
  margin: 0 auto;
}

@media (max-width: 648px) {
  .container {
    padding: 0 0.5rem;
  }
}
