.app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
}
main {
  max-width: none !important;
}

.tekstinnhold {
  max-width: 600px;
}

@media (min-width: 800px) {
  .tekstinnhold {
    margin-left: 15%;
  }
}
@media (max-width: 800px) {
  .tekstinnhold {
    margin-left: 1%;
  }
}
