.app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--a-bg-subtle);
}
main {
  max-width: none !important;
}

.tekstinnhold {
  max-width: 912px;
  margin: 0 auto;
}
