.main {
  height: auto;
  min-height: 100%;
  background-color: var(--a-white);
}

.app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
